<h1>Edit your profile</h1>

<%= form_for @user, html: {method: :put} do |f| %>
  <%=f.label :first_name %>
  <%=f.text_field :fname %>  
  <%=f.label :last_name %>
  <%=f.text_field :lname %>  
  <%=f.label :email %>
  <%=f.text_field :email %>
  <%=f.submit :update %>
<% end %>