<h1>Create a new account</h1>

<%= form_for @user do |f| %>
  <%=f.label :first_name %>
  <%=f.text_field :first_name %>  
  <%=f.label :last_name %>
  <%=f.text_field :last_name %>  
  <%=f.label :email %>
  <%=f.text_field :email %>  
  <%=f.label :password %>
  <%=f.text_field :password %>
  <%=f.submit :create %>
<% end %>

<%= link_to "Log In", log_in_path %>